
.courselist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
}
.course .selected {
    background-color:lemonchiffon;
    color: green;
  }
  
  .course .invalid {
    background-color:salmon;
    color: rgb(128, 0, 0);
  }

  